<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
<connectionStrings><add name="DriverUpdaterDataStoreEntities" connectionString="metadata=res://*/Models.DriverUpdaterDataStore.csdl|res://*/Models.DriverUpdaterDataStore.ssdl|res://*/Models.DriverUpdaterDataStore.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\DriverUpdaterDataStore.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>